body {
  font-family: "Roboto", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
.portfolio-conteiner {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

/*--------------------- HEADER -----------------------*/
.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-menu {
  display: flex;
}

.header-item:last-child {
  margin-right: 0;
}

.header-logo {
  margin-right: 93px;
}
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-link:focus,
.header-link:hover {
  color: #2196f3;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.header-mail:focus,
.header-mail:hover,
.header-tel:focus,
.header-tel:hover {
  color: #2196f3;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.header-mail:hover .header-social-mail,
.header-mail:focus .header-social-mail {
  fill: #2196f3;
}

.header-tel:hover .header-social-tel,
.header-tel:focus .header-social-tel {
  fill: #2196f3;
}

.header-social-mail {
  margin-right: 10px;
}

.header-social-tel {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-self: center;
}

/*--------------------- BUTTON -----------------------*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-menu {
  padding: 6px 22px;
  border: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
}

.button-menu:focus,
.button-menu:hover {
  background: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn {
  background: #f5f4fa;
  border-radius: 4px;
}

.portfolio-btn + .portfolio-btn {
  margin-left: 8px;
}

.portfolio-list-btn {
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
  width: calc(100% / 9 -30px);
  margin-right: 30px;
}

.portfolio-btn {
  align-items: center;
  display: flex;
  border: transparent;
  align-items: center;
}

.header-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

/*--------------------- PORTFOLIO -----------------------*/

.portfolio-per {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.portfolio-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-align: left;
}

.portfolio-item:hover,
.portfolio-item:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}

/*--------------------- FOOTER -----------------------*/
.footer-wrap {
  flex-wrap: wrap;
  display: flex;
  justify-self: flex-start;
  align-items: center;
}

.conteiner-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  background-color: #2f303a;
}

.footer-adress-a {
  margin-top: 20px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  display: inline;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-item {
  display: block;
  border-bottom: 9px;
}
.contakt-tel {
  margin-top: 9px;
}

.contant-mail {
  margin-top: 9px;
}

.footer-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  margin-top: 9px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-icon-list {
  display: flex;
  justify-content: flex-start;
  width: 231px;
  height: 81px;
  align-items: flex-start;
  flex-direction: row;
}

.foter-icon-titel {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-social-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196f3;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: #ffffff;
}

.footer-social {
  margin-left: 70px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
